* {
  box-sizing: inherit;
}

h1 {
  font-size: 48px;
  font-family: helvetica;
  color: white;
  font-weight: 300;
  text-align: center;
  margin:5px;
}

h2 {
  font-size: 24px;
  font-family: helvetica;
  color: #EA7019;
  font-weight: 300;
  text-align: center
}

p {
  font-size: 14px;
  font-family: helvetica;
  color: black;
  font-weight: 500;
  text-align: center;
}

body {
  background-color: #f3f3f3;
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #06447F;
  width: 100%;
  height: 300px;
}

.masthead {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.masthead__title {
  font-size: 48px;
  font-family: helvetica;
  color: white;
  font-weight: 300;
  text-align: center;
}

.masthead__title-info p{
  font-size: 20px;
  font-family: helvetica;
  color: #ADC2D5;
  font-weight: 500;
  text-align: center;
  margin:5px;
}

.nav__items {
  background-color: #06447F;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

nav a {
  color:white;
  text-decoration: none;
}

nav ul {
  margin:0;
  padding:0;
}

nav ul li{
  list-style: none;
  margin:0;
  padding:0;
  font-family: helvetica;
}

main {
  flex:1;
}

.content {
  margin-top: 50px;
  height:800px;
}

.about__items {
  display:flex;
  align-items: center;
  justify-content: center;
}

.about img {
  width:100px;
  height:100px;
  margin-right: 40px
}

.about p {
  width:300px;
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #06447F;
  color:white;
  
}

footer h2{
  color:white;
}
